/* Basic formatting */

body, html {
 font-size: 25px;
 color: black;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#__next {
 min-height: 100vh;
/* width: 100%;
 overflow: hidden; */
 background-color: #e0e0e0;
}
/*
* > .container-fluid {
 overflow: hidden;
} */

.container-fluid {
 margin: 0;
}

/* things in the ".sideshow" */
.sideshow {
 background-color: black;
 color: white;
 z-index: 2;
}

/* Button for flagbar:*/
#flagS {
 top: 0;
}

#flagS, #codeS {
 left: 0;
 position: absolute;
 font-size: 50px;
 width: 50px;
}

/*Button for codebook:*/
#codeS {
 bottom: 0;
}

/*body > *:not(#nav), body:not(#nav), body:not(Table), body :not(Table) {
 max-width: 80%;
 margin: 0 auto;
}*/

/* Bottom bar codebook */ 

.feet {
 width: 70vw;
 z-index: 2;
 bottom: 0;
 right: 0;
 left: 0;
 position: fixed;
 background: white;
}

#codebook {
 z-index: 3;
 position: fixed;
}

#glable, #glable td, #glable td *, #glable th, #glable th * {
 font-size: 0.8rem;
}

#glable {
 background-color: white;
 position: relative;
}

/* Sidebar flags */

#flagbar {
 left: 0;
 top: 10vh;
 bottom: 0;
 width: 3vw;
 position: absolute;
}

/* Increase of emphasis */


.statement, .multiview .statement, .statext {
 background-color: #fff;
}

.statement, details {
 background: #f0f0f0;
 margin: 0.5rem;
}

.multiview {
 font-size: 25px;
 overflow-y: scroll;
 margin: 0 auto;
}

.multiview > .col {
 overflow-y: scroll;
}

.statementBox {
 margin: 1em;
}

.statement .metadata, .statebox, summary {
 background: white;
}

.statebox, .multiview .statement, .statext {
 padding: 0.5rem;
 margin-top: 0.5rem;
 line-height: 1.75;
}

#envelope {
 height: 90vh;
 padding-left: 1rem;
 padding-top: 1rem;
}

.barside {
 right: 0;
}
.coder {
 padding-top: 1rem;
 padding-bottom: 1rem;
 height: 70vh;
}
.navvy {
 bottom: 0;
}

/* Highlights */

* > mark {
 position: relative;
}

mark, mark * {
 font-family: 'Victor Mono', 'Courier Prime', monospace;
}

mark {
/* font-weight: lighter; */
 font-style: italic;
}

mark > b {
 font-style: normal;
}

/* REPLACE THIS SECTION WHEN YOU HAVE CODES */
.exampleCode, .exampleCode * { background-color: #eeffee !important; }
.exampleTwo, .exampleTwo * { background-color: #ffffee !important; }
.exampleThree, .exampleThree * { background-color: #eeffff !important; }
.test, .test * { background-color: #f6a4c4 !important; }
.test2, .test2 * { background-color: #e5a0c9 !important; }
.test3, .test3 * { background-color: #e6b7f3 !important; }
.test4, .test4 * { background-color: #f9b1d4 !important; }
.inputTest, .inputTest * { background-color: #efffc4 !important; }
.showingPeter, .showingPeter * { background-color: #f4fbc3 !important; }
.ChromeTest, .ChromeTest * { background-color: #cdb1fc !important; }
.blue, .blue * { background-color: #c7f9fc !important; }

/* "!important" is generally considered bad practice, but was necessary to override every other source of background color. */

/* add a tooltip: */ 
mark .toltip, mark + .toltip {
 visibility: hidden;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 0.7rem;
 width: 200px;
 background: rgba(0, 0, 0, 0.5) !important;
/* background-color: black !important; */
 color: #f0f0f0;
 text-align: center;
 border-radius: 6px;
 padding: 5px 0;
 position: absolute;
 z-index: 1;
 top: 150%;
 right: 50%;
 margin-right: -100px;
}

mark .toltip::after {
 content: "";
 position: absolute;
 bottom: 100%;
 right: 50%;
 margin-right: -5px;
 border-width: 5px;
 border-style: solid;
 border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
}

mark:hover .toltip, .toltip:hover {
 visibility: visible;
 display: inline-block;
 z-index: 10;
}

/* Glossary in a details pane */
/* Note: the 'details' glossary is .glossary, the footer glossary is #glossary */
.glossary, .glossary * {
 background: white;
}

.glossary p {
 margin-left: 0.5rem;
 margin-right: 0.5rem;
}

#codepage > div, #codepage form > div, #justcss div code {
 display: flex;
 flex-direction: column;
}

#sassmap > div, #justcss > div {
 background: black;
 color: white;
 padding: 1.5rem;
}

#justcss div code, #sassmap div code {
 color: white;
 font-family: 'Victor Mono', 'Courier Prime', monospace;
}

/* [statementID].tsx */
 .metadata {
 font-family: 'Victor Mono', 'Courier Prime', monospace;
}

/* #coder {
 position: absolute;
 right: 0;
 top: 0;
 width: 25vw;
 font-size: 23px;
}
#codepick {
 position: fixed;
 background-color: #efefef;
 top: 0;
}
#codepick select {
 margin-top: 1rem;
} */

.flagtracker {
 position: fixed;
 overflow-y: scroll;
 margin-top: 35vh;
 width: 25vw;
 margin-bottom: 20vh;
 right: 5px;
}

div#definitions {
 padding: 0.5rem;
}

div#definitions p, div#definitions p * {
 font-size: 0.8rem;
}

#coder select {
 font-size: 0.8rem;
}